.header {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-logo-area {
    flex-grow: 1;
}

.header-logo-area h1 a {
    color: black;
}

.header ul {
    display: flex;
    margin-right: 20px;
}

.header ul li {
    margin: 0 12px;
}

.header ul li a {
    color: black;
}

.user-name {
    margin-right: 10px;
}

.btn-blue {
    margin-right: 10px;
    color: white;
    background-color: #0077ff;
}

.btn-admin {
    color: white;
    background-color: #2a3537;
}